:root {
  --primary-font: "Open Sans", sans-serif;

  --black: #000000;
  --black-lighter: #0f0d0e;
  --black-light: #323232;

  --grey: #888888;
  --grey-lighter: #999999;

  --gold: #b59f5b;

  --white: #ffffff;
  --white-darker: #f4f7f6;
  --white-dark: #eff6f1;
  --white-darkest: #eeeeee;
}
